/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

h1 {
  display: flex;
  align-self: center;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin: 0px;
}

/* Header */
header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-logo {
  font-size: 24px;
  font-weight: 800;
}

.header-text-others {
  color: #e5e7eb;
  font-size: 18px;
}

.header-list {
  display: flex;
  gap: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.header-card {
  width: 500px;
  height: 300px;
  text-align: center;
}

p.header-text-others {
  text-align: start;
  display: flex;
  align-items: center;
  margin-block: 0;
  margin-bottom: 10px;
}

.header-button {
  font-size: 14px;
  font-weight: 800;
  height: 30px;
  width: 100px;
  appearance: none;
  background-color: #2882f6;
  color: #f9faf8;
  border: unset;
  border-radius: 8px;
}
