/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

h1 {
  display: flex;
  align-self: center;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin: 0px;
}

address {
  font-style: normal;
}

/* Header */
header {
  height: 80vh;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-logo {
  font-size: 24px;
  font-weight: 800;
}

.header-text-others {
  color: #e5e7eb;
  font-size: 18px;
}

.header-list {
  display: flex;
  gap: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.header-card {
  width: 500px;
  height: 300px;
  text-align: center;
}

p.header-text-others {
  text-align: start;
  display: flex;
  align-items: center;
  margin-block: 0;
  margin-bottom: 10px;
}

.header-button {
  font-size: 14px;
  font-weight: 800;
  height: 30px;
  width: 100px;
  appearance: none;
  background-color: #3882f6;
  color: #f9faf8;
  border: unset;
  border-radius: 8px;
}

/* Style of Information Section */
.section-img {
  min-height: 60vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.div-img {
  display: flex;
  gap: 50px;
}

.information-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.container-img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10%;
  object-fit: cover;
  object-position: center;
}

sub {
  font-size: 16px;
  font-weight: 400;
  color: rgb(79, 79, 79);
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
}

/* Motivation Paragraph Section */
.section-paragraph {
  background-color: #e5e7eb;
  min-height: 50vh;
}

.position-paragraph {
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-motivation {
  margin: 5px 0px;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  text-align: left;
}

.speller {
  color: #1f2937;
  font-size: 26px;
  font-weight: 600;
  text-align: right;
  align-self: end;
}

/* Call to Action Section */
.call-to-action {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-container {
  color: aliceblue;
  width: 75%;
  background-color: #3882f6;
  padding: 30px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.call-to-action-div {
  margin: 10px;
}

.call-to-action-h3 {
  margin: 0;
  font-size: 25px;
}

.call-to-action-p {
  margin: 0;
}

.call-to-action-button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5px 20px;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: 2px solid aliceblue;
  border-radius: 5px;
}

/* Footer */
footer {
  min-height: 20vh;
  background-color: #1f2937;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  font-size: 18px;
  font-weight: 400;
}
